/* TYPOGRAPHY */
h1 {
  margin-bottom: 2px;
  text-align: center;
}

/* FORM */
form, .todo {
  border: 1px solid rgb(212, 208, 208);
  margin-bottom: 0px;
  padding: 20px 20px 5px 20px;
}

form {
  background-color: lightsalmon ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

form input {
  flex-grow: 1;
  margin-bottom: 5px;
  margin-right: 16px;
  padding: 4px 8px;
}

/* BUTTON */
button {
  background-color: rgb(100, 94, 94);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin:5px 5px;
  padding: 8px 16px;
}

button:hover, button:active {
  background-color: rgb(133, 117, 117);
}

/* INPUT FIELDS */
input[type='text'] {
  font-size: 20px; 
}

 .todo input[type="radio"] {
  transform: scale(1.1) translateY(1px);
  cursor: pointer;
  margin-right: 10px;

}

.todo-text input {
  padding: 4px;
}

/* INPUT ACTIONS */
.todo {
  display: flex;
  justify-content: space-between;
  
}

.todo-text {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
  line-break: auto;
  line-height: 15px;
  overflow-wrap: break-word; 
  overflow: auto;
}

#todo-Edits {
  margin-bottom: 10px;
}

#todo-list {
  margin: 60px auto;
  width: 400px;
}

.todo:nth-child(even) {
  background-color: rgb(222, 224, 226) ;
}

.todo-actions {
  display:flex;
  float: right;
  margin-top: 6px;
}

@media only screen and (min-width: 768px) {
  #todo-list {
    width: 700px;
  }
}

